<header class="header">
  <nav class="nav">
    <ul class="header_menu  flex-column flex-sm-row">
      <li class="nav-link">ユーザー：<%= link_to current_user.name, edit_user_registration_path %></li>
      <li class="header_menu_title_1"><%= link_to "Trelloo", root_path, class: "nav-link" %></li>
      <li class="header_menu_title_2"><%= link_to "Share", wants_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <li><%= link_to "リスト作成", new_list_path, class: "nav-link listNew" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>