<div class='cardDetailPage'>
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_title">
        <div>タイトル</div><br>
        <h2><%= auto_link(simple_format(h(@detail.title),html: {target:'_blank'})) %></h2>
      </div>
      <div class="cardContents_memo">
        <div>詳細</div><br>
        <div><%= auto_link(simple_format(h(@detail.memo),html: {target:'_blank'})) %></div>
        <% if @detail.youtube_url.present? %>
          <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" height="315" src="https://www.youtube.com/embed/<%= @detail.youtube_url.last(11) %>" width="560"></iframe>
        <% end %>
      </div>
      <div class="cardContents_listStatus">
      <% if Like.find_by(user_id: current_user.id, detail_id: @detail.id) %>
        <%= link_to "いいねを取り消す", want_detail_like_path(@want, @detail), method: :delete %>
        <%= @detail.likes.length %>
      <% else %>
        <%= link_to "いいね！", want_detail_likes_path(@want, @detail), method: :post %>
        <%= @detail.likes.length %>
      <% end %>
      </div>
      <% if @detail.user_id == current_user.id %>
      <div class="cardContents_btnArea">
        <%= link_to '編集する', edit_want_detail_path(@detail.want, @detail), class: "edit_btn" %>
        <%= link_to '削除する', want_detail_path(@detail.want, @detail), class: "text-danger delete_btn", method: :delete %>
      </div>
      <% end %>
    </div>
  </div>
</div>